/* 메인 패널 */
#Panel{
    width: 50%;
    height: 100vh;
    transition: background-color 0.5s;
}
#PanelBox{
    width: 80%;
    margin: 10vh auto ;
    height: 70vh;
    background-color: #FFFEFF;
    box-shadow: 2px 2px 5px #77777760;
    border-radius: 20px;
}
/* 스텐바이 패널 */
#StandbyUpper{
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
#StandbyLogo{
    filter: grayscale(1) opacity(0.7);
    height: 40%;
    margin-bottom: 5vh;
}
#StandbyLower{
    height: 35vh;
    text-align: center;
    color: #777;
    font-size: 5vh;  
    font-weight: bold;
    line-height: 10vh;
}
/* 타이틀 패널 */
#TitlePanel{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#TitlePanelTime{
    padding: 0 5% 0 5%;
    font-size: 3vh;
    font-weight: bold;
}
#TitlePanelName{
    padding:0 5% 0 5%;
    font-size: 5vh;
    font-weight: bold;
}
#TitlePanel::after{
    content:"";
    height: 5px;
    width: 90%;
    margin: 0 5%;
    border-radius: 100px;
    background-color: black;
}
#PanelField{
    width: 100%;
    height: 55vh;
    overflow: hidden;
}
/* 선택 패널 */
#SelectPanel{
    width: 100%;
    display: flex;
    height: 45vh;
    margin: 5vh 0;
    flex-direction: column;
    justify-content: space-around;
}
.SelectPanelBnt{
    width: 90%;
    margin: 0 auto;
    height: 12vh;
    background-color: #c8c8c8;
    transition: background-color 0.1s;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 5%;
    box-shadow: 2px 2px 5px #77777760;
}
.PanelSelectFront{
    height: 10vh;
    margin: 1vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.PanelSelectName{
    font-size: 4vh;
    color: white;
    font-weight: bold;
}
.PanelSelectSummary{
    font-size: 2.5vh;
    color: white;
    font-weight: bold;  
}