/* 메인 패널 */
#Panel{
    width: 100%;
    height: 100vh;
    transition: background-color 0.5s;
    display: flex;
}
#PanelInside{
    width: 50%;
}
#PanelOutside{
    width: 50%;
}
#PanelStandby{
    width: 80%;
    margin: 10vh 10% ;
    height: 70vh;
    background-color: #FFFEFF;
    box-shadow: -2px 2px 5px #77777760;
    border-radius: 20px;
    transition: height 1s;
    overflow: hidden;
    transform: rotateY(180deg);
}
#PanelBox{
    width: 40vw;
    margin: 10vh 10% 0vh ;
    height: 70vh;
    background-color: #FFFEFF;
    box-shadow: 2px 2px 5px #77777760;
    border-radius: 20px;
    transition: height 1s;
    overflow: hidden;
}


/* 스텐바이 패널 */
#StandbyReversal{
    transform: rotateY(180deg);
}
#StandbyUpper{
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
#StandbyLogo{
    filter: grayscale(1) opacity(0.7);
    height: 40%;
    margin-bottom: 5vh;
}
#StandbyLower{
    height: 35vh;
    text-align: center;
    color: #777;
    font-size: 5vh;  
    font-weight: bold;
    line-height: 10vh;
}
/* 타이틀 패널 */
#TitlePanel{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#TitlePanelUpper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0 5%;
    height: 5vh;
}
#TitlePanelTime{
    box-sizing: content-box;
    font-size: 3vh;
    height: 5vh;
    width: 100%;
    font-weight: bold;
    line-height: 5vh;
    overflow: hidden;
    background-color: #fff;
}
#TitlePaneNowlTime{
    display: inline-block;
}
#allTimeShow{
    display: inline-block;
    font-size: 2vh;
    height: 3vh;
}

/* 수업 수정과 삭제가 있는 설정메뉴 */
#TitlePanelSetting{
    transition: all 1s;
}
#TitlePanelSettingMenu{
    display: flex;
    background-color: #f5f5f5;
    border-radius: 5px;
}
#TitlePanelSettingButton{
    margin: 0.5vh;
    width: 4vh;
    height: 4vh;
    background-image: url("../../img/setting.png");

    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s;
    background-color: #d9d9d9;
    border-radius: 5px;
}
.TitlePanelSettingButtonL{
    background-size: 100% 100%;
}
.TitlePanelSettingButtonS{
    background-size: 80% 80%;
}
#TitlePanelSettingButton:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
.TitlePanelSettingButtonL:hover{
    background-size: 80% 80%;
}
.TitlePanelSettingButtonS:hover{
    background-size: 100% 100%;
}
#TitlePanelHideButton{
    height: 4vh;
    font-size: 3vh;
    line-height: 4vh;
    width: 10vh;
    margin: 0.5vh;
    text-align: center;
    background: #999999; 
    color: white;
    border-radius: 5px;
}
#TitlePanelClassModifyButton{
    height: 4vh;
    font-size: 3vh;
    line-height: 4vh;
    width: 10vh;
    margin: 0.5vh;
    text-align: center;
    background: #FDC830; 
    color: white;
    border-radius: 5px;
}
#TitlePanelDeleteButton{
    height: 4vh;
    font-size: 3vh;
    line-height: 4vh;
    width: 10vh;
    margin: 0.5vh;
    text-align: center;
    background-color: #ee0979;
    color: white;
    border-radius: 5px;
}

#TitlePanelName{
    padding:0 5% 0 5%;
    font-size: 5vh;
    font-weight: bold;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}
#TitlePanel::after{
    content:"";
    height: 5px;
    width: 90%;
    margin: 0 5%;
    border-radius: 100px;
    background-color: black;
}
#PanelField{
    width: 100%;
    height: 55vh;
    overflow: hidden;
}
/* 선택 패널 */
#SelectPanel{
    width: 100%;
    display: flex;
    height: 50vh;
    margin: 0 0 5vh 0;
    flex-direction: column;
    justify-content: space-between;
}
.SelectPanelBnt{
    width: 90%;
    margin: 1vh auto;
    height: 12vh;
    background-color: #999;
    transition: background-color 0.1s;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 5%;
    box-shadow: 2px 2px 5px #77777760;
    transition: box-shadow 0.5s;
}
.SelectPanelBnt:hover{
    box-shadow: 2px 2px 10px #222222;
}
.PanelSelectFront{
    height: 10vh;
    margin: 1vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.PanelSelectName{
    font-size: 4vh;
    color: white;
    font-weight: bold;
}
.PanelSelectSummary{
    font-size: 2.5vh;
    color: white;
    font-weight: bold;  
}


/* weekList 패널 */

/* QR코드 셋팅 */
#QRreadePanel{
    width: 100%;
    display: flex;
    height: 50vh;
    margin: 0 0 5vh 0;
    padding: 0 5%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
}
#cheakLevel{
    height: 15vh;
    overflow: hidden;
}
#QRreadePanelInfo{
    width: 100%;
    height: 5vh;
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: center;
    font-size: 2vh;
    line-height: 5vh;
}
#QRreadePanelInfo > span{
    font-weight: bold;
}
.cheakTimeSelect{
    width: 100%;
    display: flex;
    height: 8vh;
    margin: 1.5vh 0;
    background-color: #F6F7F9;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #77777760;
    display: flex;
    transition: box-shadow 0.5s;
}
.cheakTimeSelect:hover{
    box-shadow: 2px 2px 5px #666;
}
.cheakTime{
    width: 20%;
    text-align: center;
    line-height: 8vh;
    font-size: 3.5vh;
}
.inputLeft{
    text-align: right;
}
.cheakTimeSelectZone{
    display: flex;
    height: 33vh;
    margin: 1vh 0;
    flex-direction: column;
    justify-content: flex-start;
}

.cheakTimeUser{
    display: flex;
}
.cheakTimeUser > input{
    width: 40%;
    border: 0px;
    background-color: #00000000;
    text-align: center;
    line-height: 8vh;
    font-size: 3.5vh;
    font-family: 'Do Hyeon', sans-serif;
}
.cheakText{
    width: 80%;
    padding: 1vh;
    box-sizing: border-box;
    padding-left: 5%;
    color: #fff;
    font-size: 2.5vh;
    border-radius: 30px 15px 15px 30px;
    text-shadow: 1px 1px 2px #77777760;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #c8c8c8;
    transition: background-color 0.3s;
}
.cheakTimeExplanation{
    font-size: 2.5vh;
}
.cheakTimeInfo{
    display: flex;
    justify-content: flex-start;
    font-size: 1.5vh;
}
.cheakTimeInfoTag{
    border-radius: 3px;
    margin: 2px 5px 2px 0px;
    padding: 2px;
    background-color: white;
}

#QRreadeBnts{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    background-color: #d9d9d9;
    text-align: center;
    font-size: 3vh;  
    font-weight: bold;
}
#QRcodeSetBnt{
    width: 50%;
    height: 8vh;
    line-height: 8vh;
    margin: 1vh 2.5%;
    color: #d9d9d9;
    text-align: center;
    border-radius: 10px;
    background-color: #FFFEFF;
    box-shadow: 2px 2px 5px #77777760;
    transition: box-shadow 0.5s;
}
#QRcodeSetBnt:hover{
    box-shadow: 2px 2px 5px #666;  
}
#QRcodeMakeBnt{
    width: 20%;
    height: 8vh;
    line-height: 8vh;
    margin: 1vh 2.5%;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background-color: #FFFEFF;
    box-shadow: 2px 2px 5px #77777760;
    transition: box-shadow 0.5s;
}
#QRcodeMakeBnt:hover{
    box-shadow: 2px 2px 5px #666;   
}
/* QR코드 - 출석부 */
#QRActivePanel{
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    font-size: 3vh;

}
/* 클레스 삭제 */
#ClassDelete {
    width: 100%;
    display: flex;
    height: 50vh;
    margin: 0 0 5vh 0;
    padding: 0 5%;
    box-sizing: border-box;
    flex-direction: column;
}
#ClassDeleteWarning{
    background-color: #f953c6;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 30px 0px;
}
#ClassDeleteWarning > span{ 
    font-size: 3vh;
}

#ClassDeleteinfoTitle{
    height: 5vh;
    margin: 10px 0;
    font-size: 3vh;
    color: #000;
    display: flex;
}

#ClassDeleteinfoTitle > span{
    border-bottom: 3px solid #000;
}

#ClassDeleteinfo{
    height: 20vh;
    width: 80%;
    padding: 10px 10%;
    text-align: left;
    background-color: #F6F7F9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#ClassDeleteLogin{
    width: 100%;
    margin: 10px 0;
    font-size: 2vh;
    border-radius: 5px;
    border: 0px;
    text-align: center;
}
#ClassDeleteLoginButton{
    border: 2px solid #000;
    text-align: center;
    height: 5vh;
    font-size: 2.5vh;
    line-height: 5vh;
    border-radius: 5px;
}
#ClassDeleteinput{
    width: 100%;
    margin: 10px auto;
    font-size: 2vh;
    border-radius: 5px;
    border: 0px;
    text-align: center;
}
#classDeleteButton{
    width: 100%;
    margin: 1vh auto;
    height: 8vh;
    font-size: 5vh;
    line-height: 8vh;
    border-radius: 5px;
    text-align: center;
}
.classDeleteButtonOff{
    box-shadow: 2px 2px 5px #77777760;
    background-color: #ccc;
    color: white;
}

.classDeleteButtonOn{
    box-shadow: 2px 2px 5px #77777760;
    background-color: red;
    color: white;
}

/* 출석체크 */
#AttendanceCheckPanel{
    padding: 0 5%;
}
#AttendanceCheckPanelTitle{
    height: 5vh;
    font-size: 3vh;
}
#AttendanceViewSelect{
    height: 8vh;
    width: 100%;
    margin: 1vh 0;
    background-color: #ccc;
    border-radius: 5px;
    text-align: center;
    line-height: 8vh;
    font-size: 5vh;
    color: #fff;
}

#allWeek{
    grid-template-columns: repeat(auto-fill,120px);
    grid-auto-rows: 120px;
    grid-column-gap: auto;
    display: grid;
    height: 45vh;
    overflow: auto;
    width: 100%;
    justify-content: flex-start;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
#allWeek::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#weekBox{
    margin: auto;
    flex-wrap: wrap;
}
.AttendanceWeek{
    display: inline-block;
    width: 110px;
    height: 110px;
    overflow: hidden;
    margin: 5px;
    background-color: #ccc;
    box-shadow: 2px 2px 5px #77777760;
    color: #fff;
}
.AttendanceWeekNo{
    height: 40px;
    margin-bottom: 5px;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 5px #77777760;
}
.AttendanceWeekText{
    font-size: 20px;
}
.AttendanceDate{
    margin-top: 10px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}
.AttendanceState{
    width: 90px;
    margin: 0 10px;
    height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.AttendanceStateAttendance{
    flex: 1;
    padding: 2px;
    display: inline-block;
    background-color: rgb(153, 197, 86);
    border-radius: 5px 0px 0px 5px;
    /* box-shadow: 2px 2px 5px #77777760; */
}
.AttendanceStateTrady{
    flex: 1;
    padding: 2px;
    display: inline-block;
    background-color: orange;
    /* border-radius: 5px; */
    /* box-shadow: 2px 2px 5px #77777760; */
}
.AttendanceStateAbsent{
    flex: 1;
    padding: 2px;
    display: inline-block;
    background-color: red;
    border-radius: 0px 5px 5px 0px;
    /* box-shadow: 2px 2px 5px #77777760; */
}

/* WeekPanel 패널 */

#WeekPanel{
    position: relative;
    width: 100%;
    height: 55vh;
    margin: 0 0 0 0;
    padding: 0 5%;
    box-sizing: border-box;
    overflow: hidden;
}
#WeekPanelInfoZone{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

#WeekPanelInfo{
    width: 85%;
    height: 5vh;
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: center;
    font-size: 2vh;
}
#WeekListdel{
    width: 10%;
    height: 5vh;
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: center;
    font-size: 2vh;
    background-color: red;
    background-image: url('../../img/delete.svg');
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center; 
    background-color: red;
    transition: background 0.3s;
}

#WeekPanelInfo > span {
    font-weight: bold;
}
#SelectWeekZone{
    margin-top: 5vh;
    height: 45vh;
    width: 100%;
    overflow: hidden;
}
#SelectWeekInfo{
    height: 10vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

}
#SelectWeekInfoMessage{
    height: 4vh;
    margin: 1vh 1.5vw 5vh;
    width: 15vw;
    line-height: 4vh;
    overflow: hidden;    
    text-align: center;
    background-color: #d9d9d9;
    animation-name: SelectWeekInfoAni;
    animation-duration: 3s;
    animation-iteration-count : 1;
    animation-direction: normal;
    opacity : 100%;
}
#SelectWeekInfoMessageFast{
    height: 4vh;
    margin: 1vh 1.5vw 5vh;
    width: 15vw;
    line-height: 4vh;
    overflow: hidden;    
    text-align: center;
    background-color: #d9d9d9;
    animation-name: SelectWeekInfoAni;
    animation-duration: 1s;
    animation-iteration-count : 1;
    animation-direction: normal;
    opacity : 100%;
}

@keyframes SelectWeekInfoAni {
    0% {
        opacity : 0%;
    }
    70% {
        opacity : 0%;
        transform: rotateX(90deg);
    }
    100% {
        opacity : 100%;
        transform: rotateX(0deg);
    }
  }
#WeekList{
    position: relative;
    transition: margin 2s;
    width: 18vw;
}
.selectWeek{
    height: 20vh;
    width: 20vh;
    /* background-color: #FFFEFF; */
    box-shadow: 2px 2px 5px #77777760;
    border-radius: 20px;
}

/* week 컴포넌트 */
.weekObj{
    display: inline-block;
    width: 10vw;
    height: 10vw;
    position: relative;
    overflow: hidden;
    margin: 5px 1.5vw;
    background-color: #ccc;
    box-shadow: 2px 2px 5px #77777760;
    color: #fff;
    padding: 2.5vw;
}
.weekObjDate{
    height: 40px;
    font-size: 2vw;
    line-height: 2.5vw;
    text-align: center;
    height: 2.5vw;
}
.weekObjNo{
    text-align: center;
    height: 5vw;
    font-size: 4vw;
    text-align: center;
    text-shadow: 2px 2px 5px #77777760;
    line-height: 5vw;
}

.weekObjNo > span{
    font-size: 2vw;
}
.weekObjState{
    width: 90%;
    margin: 0 10px;
    height: 2.5vw;
    line-height: 2.5vw;
    display: flex;
    justify-content: center;
    text-align: center;
}
.weekObjState > .stateAttendance{
    flex: 1;
    padding: 2px;
    display: inline-block;
    background-color: rgb(153, 197, 86);
    border-radius: 5px 0px 0px 5px;
    /* box-shadow: 2px 2px 5px #77777760; */
}
.weekObjState > .stateTrady{
    flex: 1;
    padding: 2px;
    display: inline-block;
    background-color: orange;
    /* border-radius: 5px; */
    /* box-shadow: 2px 2px 5px #77777760; */
}
.weekObjState > .stateAbsent{
    flex: 1;
    padding: 2px;
    display: inline-block;
    background-color: red;
    border-radius: 0px 5px 5px 0px;
    /* box-shadow: 2px 2px 5px #77777760; */
}
.weekObjDelete{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    width: 3vmin;
    height: 3vmin;
    margin: 5px;
    text-align: center;
    border-radius: 30px;
    font-size: 30px;
    line-height: 30px;
    background-color: red;
    border: solid 2px #FFF; 
    box-shadow: 3px 3px 5px #77777790;   
    background-image: url('../../img/delete.svg');
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center; 
    background-color: red;

    /* animation-name: weekObjDeleteBntAni;
    animation-duration: 5s;
    animation-direction: normal;
    animation-fill-mode: forwards; */
}

@keyframes weekObjDeleteBntAni {
    0% {
        transform: scale(0%);
        background-color: red;
    }
    100% {
        transform: scale(100%);
        background-color: rgb(38, 0, 255);
    }
  }

.weekObjDeleteAni{
    animation-name: weekObjDeleteAni;
    animation-duration: 5s;
    animation-direction: normal;
    animation-fill-mode: forwards;

}

@keyframes weekObjDeleteAni {
    0% {
        transform: translateX(0vW) translateY(0vh) rotate(0deg);
    }
    40% {
        width: 0; margin: 0; padding: 0;
    }
    41% {
        transform: translateX(30vW) translateY(100vh) rotate(90deg); 
    }
    100% {
        width: 0; margin: 0; padding: 0;
        /* position: absolute; left: -999px;  */
        display: none;
    }
  }
/* week ADD 컴포넌트 */
.weekAdd{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    position: relative;
    overflow: hidden;
    margin: 5px 1.5vw;
    background-color: #FFF;
    /* box-shadow: 2px 2px 5px #77777760; */
    border: dashed 5px #999;
    box-sizing: border-box;
    color: #999;

    text-align: center;
}
.weekAddInfo{
    height: 10vw;
    margin: 2.5vw 1vw;
    font-size: 3vw;
    line-height: 5vw;

}
.weekAddDate{
    height: 40px;
    font-size: 2vw;
    line-height: 2.5vw;
    text-align: center;
    height: 2.5vw;
}
.weekAddNo{
    text-align: center;
    height: 5vw;
    font-size: 4vw;
    text-align: center;
    text-shadow: 2px 2px 5px #77777760;
    line-height: 5vw;
}

.weekAddNo > span{
    font-size: 2vw;
}
.weekObjStateloding{
    width: 100%;
    height: 2.5vw;
    line-height: 2.5vw;
    font-size: 0.9vw;
    background-color: blueviolet;
    border-radius: 5px;
    text-align: center;
}
.weekAddState > .stateAttendance{
    flex: 1;
    padding: 2px;
    display: inline-block;
    background-color: rgb(153, 197, 86);
    border-radius: 5px 0px 0px 5px;
    /* box-shadow: 2px 2px 5px #77777760; */
}
.weekAddState > .stateTrady{
    flex: 1;
    padding: 2px;
    display: inline-block;
    background-color: orange;
    /* border-radius: 5px; */
    /* box-shadow: 2px 2px 5px #77777760; */
}
.weekAddState > .stateAbsent{
    flex: 1;
    padding: 2px;
    display: inline-block;
    background-color: red;
    border-radius: 0px 5px 5px 0px;
    /* box-shadow: 2px 2px 5px #77777760; */
}

.newWeekAni{
    animation-name: newWeekAni;
    animation-duration: 3s;
    animation-iteration-count : 1;
    animation-direction: normal;
    opacity : 100%;
}
.newWeekAniFast{
    animation-name: newWeekAni;
    animation-duration: 1s;
    animation-iteration-count : 1;
    animation-direction: normal;
    opacity : 100%;
}


@keyframes newWeekAni {
    0% {
        opacity : 0%;
        transform: translateX(18vw);
    }
    50% {
        opacity : 0%;
        transform: translateX(18vw);
    }
    80% {
        opacity : 100%;
        transform: translateX(0px);
    }
  }