@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');
#page{
 width: 100%;
 font-family: 'Do Hyeon', sans-serif;
}

#content{
  width: 100%;
}

/* Layer 연결 */

#L_Background{
  position: absolute;
  z-index: -9;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
#L_Content{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
/* CSS 연결 */

/* 배경 레이어 */
@import url("background.css"); 
/* 컨텐츠 레이어 */
@import url("content.css");
/* 컨트롤 */
@import url("content/control.css");


#qr{
  display: flex;
}

#temp{
  margin: 20px;
}
#tempClass{
  display: flex;
  flex-direction: column;
}
#className{
  font-size: 50px;
  font-weight: 700;
}
#classProfessor{
  font-size: 20px;
  color: #555;
}